* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid white;*/
}

.header {
    background-color: #05021F;
    color: #F9E4D4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    /* border-bottom: 1px solid #F9E4D4; */
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;

}

.header ul li {
    background-color: rgba(128, 128, 128, 0.1);

    margin-left: 2rem;
    padding: 1rem;
    border-radius: 20px;
    list-style: none;
}

.header ul li :hover {

    text-decoration: underline;
    color: #f9d0b0;
}

.header .btn {
    background-color: white;
}

.kings {
    font-size: 2rem;
    color: #F9E4D4;
}

.header a {
    color: #F9E4D4;
    text-decoration: none;
}

.hero {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-size:cover;

    background-image: url(https://c4.wallpaperflare.com/wallpaper/395/267/738/neon-abstract-digital-art-3d-wallpaper-preview.jpg);
}

.hero2 {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 50px;
    background-size:cover;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/39/346/426/digital-art-men-city-futuristic-night-hd-wallpaper-thumb.jpg);
}
.hero2 .Heading{
    color: #fcde5ae5;
    font-size:30px ;
    text-align: right;
}
.hero2 .otp-form{
    margin-top: 40px;
    width: 80%;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.357);
    padding: 34px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: space-between;
    line-height: 2rem;
}
.otp-form input{
    width: 100% ;
}

.hero .Heading {


    padding-top: 40px;
    font-size: 40px;
    color: white;
    text-align: center;
}

.hero .options {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 60%;


}

.hero .options a {
    padding: 20px;
    margin-bottom: 2px;
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.576);
    border-radius: 40px;
    width: 100%;
    text-align: center;
    color: #05021F;
    font-size: 22px;
    font-weight: 600;
    transition: ease-in-out;
}

.hero .options .dashboard-btn {
    transition: 0.2s ease-in-out;
}

.hero .options .Player-btn {
    transition: 0.2s ease-in-out;

}

.hero .options .dashboard-btn:hover {
    background-color: rgba(128, 128, 128, 0.794);
    font-weight: 800;
}

.hero .options .Player-btn:hover {
    background-color: rgba(128, 128, 128, 0.794);
    font-weight: 800;
}

.form {
    margin-top: 20px;
    width: 60%;
    height: auto;
    background-color: #dfdedd15;
    border-radius: 20px;
    padding: 34px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    line-height: 2rem;

}

.username {
    color: #05021F;
    width: 100%;
    margin-bottom: 20px;
}

.form input {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border: none;
    padding: 4px;
}

.form .password {
    color: #05021F;
    width: 100%;
    margin-bottom: 20px;
}

.submit-btn {
    width: 100%;
    height: 36px;
    font-size: 18px;
    color: #05021F;
    background-color: #e72576e3;
    border: none;
    border-radius: 4px;
    font-weight: 800;
    transition: 0.3s ease-in-out;
}

.submit-btn:hover {
    background-color: #f2287d;
    font-size: 20px;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    color: #05021F;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;

    text-align: center;
}

.container2{
    min-height: 100vh;
    height: auto;
    display: flex;
    
   
   
}
.container2 .left-section{
min-width: 20%;

height: 90vh;
background-color: #05021F;
color: #F9E4D4;
padding-top: 40px;
padding: 20px;
border-top:#F9E4D4 1px solid;
}
.panel{
    line-height: 2rem;

}
.panel h2{
    margin-bottom: 18px;
}

.right-section{
    color: #05021F;
    background-color: #F9E4D4;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-section h2{
    padding: 20px;
}

.right-section .grid{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.right-section .pic img{
    height: 60px;
    
}

.right-section .box{
    background-color:white;
    height: 150px;
    width: 250px;
    display: flex;
    margin-bottom: 2rem;
    margin-right: 3rem;
    /* border: 1px solid #05021F ; */
    border-radius: 20px;
    margin-left: 3rem;
    align-items: center;
    padding: 12px;
}
.box .text{
    display: flex;
    flex-direction: column;
    line-height:22px;
    padding: 3px;
}
.box .text h6{
    color: green;
}
.box .text h5{
    font-weight: 800;
}